$bottomColor:#e4e7ed;
$blueColor:#00aaff;
$redColor:red;
.color {
    color: $blueColor;
}

.redColor {
    color: $redColor;
}

.baseinfor-card {
    .titleBox {
        display: flex;
        position: relative;
        font-size: 14px;
        color: #148eff;
        border-bottom: 1px solid $bottomColor;
        .title-text {
            line-height: 40px;
        }
        .date {
            position: absolute;
            right: 0px;
            top: 10px;
        }
        &.message {
            border-bottom: none;
        }
    }
    .title-infor {
        &:last-child {
            .rowBox {
                border-bottom: none;
            }
        }
    }
    .rowBox {
        padding: 10px 0;
        line-height: 40px;
        font-size: 14px;
        color: #666;
        border-bottom: 1px solid $bottomColor;
    }
}


/*toolbar*/

$color: #0d86fe;
.toolbar {
    font-size: 14px;
    display: flex;
    padding: 0 20px;
    position: relative;
}

.ordertable {
    margin-top: 20px;
}


/*pagin*/

.paginBox {
    padding: 20px;
}


/*hightsearch*/

.hightsearch {
    font-size: 14px;
    color: $color;
    line-height: 40px;
    margin: 0 20px;
    position: relative;
}

.serchdetail {
    width: 100%;
    &::before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-bottom: 8px solid #FFFFFF;
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        right: 475px;
        top: -15px;
        z-index: 10;
    }
    &::after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-bottom: 9px solid #e4e7ed;
        border-top: 9px solid transparent;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        left: 60%;
        top: -17px;
    }
}

.inlineBox {
    padding-top: 10px;
}

.totaltext {
    color: #0af;
}

.serchdetail {
    position: relative;
    .closebtn {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
    }
    .buttonBox {
        line-height: 40px;
        padding: 10px 0;
        margin-bottom: 0px;
        ul {
            display: flex;
            li {
                padding: 0 10px;
                &.title {
                    padding: 0;
                }
                a {
                    &:hover {
                        color: #0af;
                    }
                }
                .el-date-editor {
                    &.el-input {
                        width: 160px;
                    }
                }
            }
        }
    }
}

.commonTabBgBox .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: #fff;
    background: #fff;
}


/*间距*/

.mb20 {
    margin-bottom: 20px;
}


/*全选toolbar样式*/

.buttonBox {
    display: flex;
    margin-bottom: 20px;
    font-size: 14px;
    .button-ul {
        float: left;
        display: flex;
        background: #e6f1fc;
        border: 1px solid #b5d9fc;
        border-radius: 5px;
        margin-right: 10px;
        li {
            margin: 10px 0;
            border-right: 2px solid #a3d0fd;
            a {
                padding: 10px 15px;
                &.disable {
                    color: #999;
                    cursor: not-allowed;
                }
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    .textsty {
        color: #67c23a;
    }
}


/*底部合计金额样式*/

.shoppingcart {
    .amountBox {
        height: 300px;
    }
}

.amountBox {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    padding-right: 0;
    font-size: 20px;
    color: red;
    border-bottom: 1px solid #e4e7ed;
    &.bettween {
        flex-direction: row;
        justify-content: space-between !important;
        .chooseItem {
            font-size: 14px;
            color: #666;
        }
    }
}

.chooseBox {
    margin-top: 10px;
}

.reverseBox {
    display: flex;
    flex-direction: row-reverse;
}

.payBox {
    margin-left: 20px;
}